@import "compass/css3";

// @import "compass/css3/transform-legacy";


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

li {
	list-style-type: none;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

#arrow{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 15px 23px 15px;
	border-color: transparent transparent #080808 transparent;
	position:relative;
	top:-50px;
	left:50px;
	@include rotate(0deg);
	@include transition(transform 50ms linear);
}
#arrow:before{
}

#arrow:hover{
	@include rotate(180deg);
	@include transition(transform 50ms linear);
}


.my-div-icon,.my-div-icon2{
	width:50px !important;
	height:50px !important;
	border-radius: 50%;
//	background-color:rgba(255,0,0,0.5);
	p{
			left: -50% !important;
	top:-50% !important;
	position:relative;

		width:100%;
		text-align:center;
		height:100%;
		border-radius: 50%;
		font-size:1.3em !important;
		font-weight:100;
		color:black;
		font-family: Helvetica Neue, sans-serif;
		span{
			position:relative;
			margin-left:0px;
			top:25%;

		}
	}
}
.my-div-icon2{
	width: 70px !important;
	height: 70px !important;
	p{
		width:100%;
		height:100%;
			border: 5px solid;

	}
}

