<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/gender.css">
    <script src="scripts/dimple.min.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.js"></script>
    <link href="//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css" rel="stylesheet">
</head>
<body>

    <ul id="toolbar">
       <li class="langbtn" id="home-btn">HOME</li>
        <li class="langbtn" id="download-data">DOWNLOAD DATA
            <ul id="toolbar-download">
                <!-- <a href="data/confessions/confessions.csv" > <li class='download-li'>CSV</li> </a>  -->
                <a href="data/gender/gender.geojson">  <li class="download-li">GEOJSON</li> </a> 
            </ul>
        </li>
        <!-- <li class='langbtn'>ABOUT THIS DATA</li> -->
        
        <li class="langbtn" id="share-data">SHARE
            <ul id="toolbar-share">
                <a class="tweet" href="http://ladeleb.github.io/platform/gender.html" title="Gender data of voters in Lebanon - Visualization">
                <li class="share-li"><div class="fa fa-twitter fa-1x"></div></li></a>
                <a class="fb" href="http://ladeleb.github.io/platform/gender.html" title="">
                <li class="share-li"><div class="fa fa-facebook fa-1x"></div></li></a>
            </ul>
        </li>
        <!-- <li class='langbtn'><div class="fa fa-google-plus fa-1x"></div></li> -->
        <li id="ar" class="langbtn">عربي</li>
    </ul>


    <div id="map_container">
        <div class="text_overlay ar"></div>
        <div class="text_overlay en"></div>

        <div id="map"></div>
        
        <div id="tooltip-overlay"></div>
    </div>

    

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <!-- TEMPLATES -->
            <script type="text/template" id="legend_template">
                <div id='leg'>
                    <div id='legcol' style='background-color: <%= color %>'></div>
                    <!-- <div id='leglabel'> <%= label %> </div> -->
                </div>
            </script>

            <script type="text/template" id="rv_text_overlay_template">
                <h1> <%= title %> </h1>
                <p class='attribution'> <%= attribution %> </p>
                <p id='desc'> <%= desc %> </p>
                <div id="select-container">
                <div id="select1">
                    <h4> <%= select %></h4>
                    <ul style="width: 300px">
                        <li class="select1" id="voter_turnout" style="float:left; margin-right: 5px"> <%= voter_turnout %></li>
                        <li class="select1" id="voter_registration"> <%= voter_registration %></li>
                    </ul>
                </div>
                 <div>
                    <ul style="list-style-type:none;font-weight:normal;margin-top:30px; font-size: 13px;">
                    <li style="line-height:25px;">
                    <div id='legcol2' style='background-color:#c51b7d;float:left; margin-right:10px'></div> <%= f_maj4 %></li>
                    <li style="line-height:25px;">
                    <div id='legcol2' style='background-color:#de77ae;float:left; margin-right:10px'></div> <%= f_maj3 %></li>
                    <li style="line-height:25px;">
                    <div id='legcol2' style='background-color:#f1b6da;float:left; margin-right:10px'></div> <%= f_maj2 %></li>
                    <li style="line-height:25px;">
                    <div id='legcol2' style='background-color:#fde0ef;float:left; margin-right:10px'></div> <%= f_maj1 %></li>
                    <li style="line-height:25px;">
                    <div id='legcol2' style='background-color:#e6f5d0;float:left; margin-right:10px'></div> <%= m_maj1 %></li>
                    <li style="line-height:25px;">
                    <div id='legcol2' style='background-color:#b8e186;float:left; margin-right:10px'></div> <%= m_maj2 %> </li>
                    </ul>
                 </div>
            </script>

            <script type="text/template" id="time_section_template">
                <div id='<%= id %>' class='time_section clearfix'>
                    <div id='timepicker'></div>
                    <div id='time'> <%= text.ttime %> </div>
                    <div id='time_desc'> <%= text.time_desc %> </div> 
                </div>
            </script>

            <script type="text/template" id="base_text_template">
                <h1>Lebanon Electoral Open Data </h1>
                <h2>Lade</h2>

                <ul id = 'toc'>
                    <li id='rv'></li> <!-- registered voters -->
                    <li id='wb'></li> <!-- white ballots -->
                </ul>
            </script>

            <script type="text/template" id="tooltip-template">
                <div id='tooltip-content'>
                    <h2><div id='district' > <%= district %> </div></h2>
                    <em><%= diff_label %></em>
                    <div class="llabel">Total <%= diff_name %>: <%= total %></div>
                    <div class="llabel">Female <%= diff_name %>: <%= num_female %> (<%= perc_female %>%)</div>
                    <div class='llabel'>Male <%= diff_name %>: <%= num_male %> (<%= perc_male %>%) </div>
                    <br>
                    <span>Difference between male and female: <div class='perce' style='color: <%=color%>'><%= diff %>% </div></span>
                </div>
            </script>

            <script type="text/javascript" src="data/gender/genderData.js"></script>
            <script src="bower_components/Leaflet.markercluster/dist/leaflet.markercluster.js"></script>
            <script src="bower_components/jquery/jquery.js"></script>
            <script src="bower_components/d3/d3.min.js"></script>
            <script src="bower_components/underscore/underscore-min.js"></script> 
            <script src="scripts/text_content.js"></script>
            <script src="scripts/map.js"></script>
            <script src="scripts/gender.js"></script>
        </body>
        </html>