<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/white_ballots.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.js"></script>
    <link href="//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css" rel="stylesheet">

</head>
<body>

    <ul id="toolbar">
        <li class="langbtn"><div class="fa fa-twitter fa-1x"></div></li>
        <li class="langbtn"><div class="fa fa-facebook fa-1x"></div></li>
        <li id="ar" class="langbtn">ع</li>
    </ul>

    <div id="map_container">
        <div class="text_overlay ar"></div>
        <div class="text_overlay en"></div>
        <div id="map"></div>
    </div>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <script type="text/template" id="wb_text_overlay_template">
                <h1> <%= title %> </h1>
                <p id='desc'>
                    <%= desc %>
                </p>

                <ul>
                    <li><a href="confessions.html"><%= confessions %></a></li>
                    <li><a href="gender.html"><%= gender %></a></li>
                    <li><a href="white_ballots.html"><%= white_ballots %></a></li>
                    <li><a href="vote_power.html"><%= voter_power %></a></li>
                </ul>
                <div class="llabel" style="margin-top: 100px"><p><%= footer %></p></div>
            </script>


        <!--[if lte IE 8]>
        <![endif]-->

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script> 
        <script src="scripts/text_content.js"></script>
        <script src="scripts/map.js"></script>
        <script>
            content = {};
            content.baseMap = 'kamicut.hd1mnn1i';
            content.textTemplateId = '#wb_text_overlay_template';
            content.textEn = {
                title: "Lebanese Electoral Maps",
                desc: "These maps show trends in voter registration by confession, gender, white ballots and representation.",
                confessions: "Voter trends by confessions",
                gender: "Voter trends by gender",
                white_ballots: "White ballots of 2005, 2009",
                voter_power: "Voter representation in the parliament",
                footer: "The data is licensed under CC By S.A 3.0 and can be downloaded <a href='https://www.github.com/ladeleb/platform'>here.</a>"
            };
            content.textAr = {
                title: "Lebanese Electoral Maps",
                desc: "These maps show trends in voter registration by confession, gender, white ballots and representation.",
                confessions: "Voter trends by confessions",
                gender: "Voter trends by gender",
                white_ballots: "White ballots of 2005, 2009",
                voter_power: "Voter representation in the parliament",
                footer: "The data is licensed under CC By S.A 3.0 and can be downloaded <a href='https://www.github.com/ladeleb/platform'>here.</a>"
            };
            options = {}; options.control = {};
            content.layers = []
            content.layers[0] = L.mapbox.tileLayer('kamicut.electoral_districts');
            content.el = 'map';
            main = new M.Map(content,options);
            main.init();
        </script>


    </body>
    </html>