<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/white_ballots.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.js"></script>
    <link href="//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css" rel="stylesheet">

</head>
<body>

    <ul id="toolbar">
        <li class="langbtn" id="about-btn" style="margin-left: 60px">ABOUT</li>
        <li class="langbtn" id="share-data">SHARE
            <ul id="toolbar-share">
                <a class="tweet" href="http://ladeleb.github.io/ladeleb/platform" title="Check out #Lebanon election data in the last decade by @ladeleb">
                <li class="share-li"><div class="fa fa-twitter fa-1x"></div></li></a>
                <a class="fb" href="http://ladeleb.github.io/ladeleb/platform">
                <li class="share-li"><div class="fa fa-facebook fa-1x"></div></li></a>
            </ul>
        </li>
        <li id="ar" class="langbtn">عربي</li>
    </ul> 

    <div id="map_container">
        <div class="text_overlay ar"></div>
        <div class="text_overlay en"></div>
        <div id="map"></div>
    </div>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <script type="text/template" id="wb_text_overlay_template">
                <h1> <%= title %> </h1>
                <p id='desc'>
                    <%= desc %>
                </p>

                <ul id="links">
                    <li><img src="images/religion.png"></img><a href="confessions.html"><%= confessions %></a></li>
                    <li><img src="images/gender.png"></img><a href="gender.html"><%= gender %></a></li>
                    <li><img src="images/ballot.png"></img><a href="white_ballots.html"><%= white_ballots %></a></li>
                    <li><img src="images/parliament.png"></img><a href="vote_power.html"><%= voter_power %></a></li>
                </ul>
                <!--
                <div class="llabel" style="margin-top: 30px;font-family: Lato; font-weight:300; font-size:0.8em;"><p><%= footer %></p></div>
                -->
                <div class="partners"> Partners <br>
                        <a href="http://developmentseed.org"><img src="images/devseed.jpg"></img></a>
                        <a href="http://democracyinternational.com/"><img src="images/DI.jpg"></img></a>
                        <a href="http://lambalabs.org/"><img src="images/lamba.png"></img></a>
                         <a href="http://www.lade.org.lb"><img src="images/lade.png"></img></a>
                </div>
            </script>


        <!--[if lte IE 8]>
        <![endif]-->

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script> 
        <script src="scripts/text_content.js"></script>
        <script src="scripts/map.js"></script>
        <script>
            content = {};
            content.baseMap = 'kamicut.hd1mnn1i';
            content.textTemplateId = '#wb_text_overlay_template';
            content.textEn = {
                title: "Lebanese Elections Data",
                desc: "This is a project exploring open data. These visualizations show trends in voter registration by confession, gender, as well as white ballots cast and voter representation in parliament.",
                confessions: "Voter trends by confessions",
                gender: "Voter trends by gender",
                white_ballots: "White and invalid ballots",
                voter_power: "Voter representation in the parliament",
                footer: "A project exploring open data. The data is licensed under CC By S.A 3.0 and can be downloaded <a href='https://www.github.com/ladeleb/platform'>here.</a>"
            };
            content.textAr = {
                title: "تحليل بيانات الإنتخابات النيابيّة",
                desc: "هذه الخرائط إظهار التغييرات في تسجيل الناخبين من خلال الطائفة والجنس والأصوات البيضاء والتمثيل في البرلمان عبر السنوات.",
                confessions: "الناخبين المسجلين حسب الطائفة",
                gender: "الناخبين المسجلين حسب الجنس",
                white_ballots: "قوة الاقتراع صوت أبيض",
                voter_power: "مساواة التمثيل بين الناخبي",
                footer: "The data is licensed under CC By S.A 3.0 and can be downloaded <a href='https://www.github.com/ladeleb/platform'>here.</a>"
            };
            options = {}; options.control = {};
            content.layers = []
            content.layers[0] = L.mapbox.tileLayer('kamicut.electoral_districts');
            content.el = 'map';
            main = new M.Map(content,options);
            main.init();
        </script>

    </body>
    </html>