<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/main.css">
    <style>
        #share-data {
            margin-left: 0px !important;
        }
        .text-overlay {
            max-width: 80%;
            width: 80%;
        }
        .text-overlay p {
            max-width: 80%;
            width: 80%;
            font-weight: 200 !important;
        }
        .text_overlay.ar p{
            direction: rtl; 
        }
    </style>
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css' rel='stylesheet' />

</head>
<body>

    <ul id='toolbar'>
        <li class="langbtn" id="home-btn">HOME</li>
        <li class='langbtn' id='share-data' style="margin-left: 60px">SHARE
            <ul id='toolbar-share'>
                <a class='tweet' href="http://ladeleb.github.io/ladeleb/platform" title="Check out #Lebanon election data in the last decade by @ladeleb">
                <li class="share-li"><div class="fa fa-twitter fa-1x"></div></li></a>
                <a class="fb" href="http://ladeleb.github.io/ladeleb/platform">
                <li class="share-li"><div class="fa fa-facebook fa-1x"></div></li></a>
            </ul>
        </li>
        <li id='ar' class='langbtn'>عربي</li>
    </ul>

    <div id='map_container'>
        <div class='text_overlay ar'></div>
        <div class='text_overlay en'></div>
        <div id="map"></div>
    </div>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <script type='text/template' id='wb_text_overlay_template'>
                <h1> <%= title %> </h1>
                <p id='desc'>
                    <%= desc %>
                </p>
                <div class="partners"> Partners: <br>
                        <a href="http://developmentseed.org"><img src="images/devseed.jpg"></img></a>
                        <a href="http://democracyinternational.com/"><img src="images/DI.jpg"></img></a>
                        <a href="http://lambalabs.org/"><img src="images/lamba.png"></img></a>
                        <a href="http://www.lade.org.lb"><img src="images/lade.png"></img></a>
                </div>
            </script>


        <!--[if lte IE 8]>
        <![endif]-->

        <script src="bower_components/jquery/jquery.js"></script>
        <script src='bower_components/underscore/underscore-min.js'></script>
        <script src="bower_components/multiline/browser.js"></script>
        <script src="scripts/text_content.js"></script>
        <script src="scripts/map.js"></script>
        <script>
var about = multiline(function() {/*
<p>The “Data Analysis for Parliamentary Elections” was launched in Spring 2013, upon a joint initiative between LADE and Democracy International. </p>
<p> The objective of this project is to provide a visual comparative presentation of some basic information about the electoral bodies in Lebanon in the form of data and user-friendly visuals (maps). These maps present the numbers of the registered voter rolls, the results of their votes, their presence in the areas of electoral districts, their sex and their confessions since 2005 until today.</p>
<p>However, the second section of the site features information and figures of views and positions of the Lebanese people on some election-related issues.  The data gathered is through a poll done by LADE. The statistics are based on the answers of a scientific national sample of 2,500 people dispersed on all the Lebanese provinces taking into account the age and sex of respondents. </p>
<p> These figures underline the extent of involvement in Lebanese political life, the degree of satisfaction with the performance of the Lebanese municipal councils and the nature of the electoral system favored by the Lebanese.</p>
<p>The poll was done by the Consultation and Research Institute on LADE’s behalf.</p>
<p>You can find the entire poll results on the following link: <a href="http://bit.ly/1ROT0ju">http://bit.ly/1ROT0ju</a></p>
<h2>About the Platform</h2>
<p>The Lebanese Elections Data Analysis (LEDA) browser is a project to collect, visualize, and analyze election-related data. The LEDA browser is a joint effort of the <a href="http://www.lade.org.lb">Lebanese Association for Democracy of Elections (LADE)</a> and <a href="http://lamblabs.org">Lamba Labs</a>, with the support of <a href="http://democracyinternational.com">Democracy International (DI)</a> and <a href="http://developmentseed.org">Development Seed.</a></p>
<p>The overarching goal of the LEDA browser is to present a range of stakeholders – electoral officials, parliamentarians, political parties, civil society, media, citizens, etc. – with better information to facilitate better decisions that lead to better outcomes.  We aim to achieve this goal by:
<ul>
<li>
Creating a centralized hub of election-related data, maps, and analysis to promote data-driven decision-making and reforms to improve the electoral process;</li>
<li>
Presenting information in a highly accessible and digestible way so that stakeholders can measuring progress and identify trends from one election cycle to the next; and</li>
<li>
Providing a meaningful lens through which electoral developments and observation findings can be contextualized and understood.
</li></ul>
</p>
<p>
As a first step, LADE collected, analyzed, and visualized data on voter registration trends since 2005 and voter turnout trends in the 2009 parliamentary elections on the LEDA browser. LADE believes that the visualization of these datasets will help to foster evidence-based discussions and data-driven debate on election laws, policies, and reforms. Additional visualizations have been added such as white and invalid ballots cast, and voter representation in parliament.</p>
<p>
The initial visualizations presented on LEDA are based on data collected by LADE and adapted from data published by the <a href="http://www.interior.gov.lb/">Ministry of the Interior and Municipalities (MoIM)</a>, the <a href="http://www.dgps.gov.lb">Directorate General of Personal Services (DGPS)</a>, and the <a href="http://www.elections.gov.lb">www.elections.gov.lb</a> website.  
</p><p>
LADE will continue to open and visualize election-related data, including past and future election data and LADE observation data, through the website.  Non-election-related, but contextually relevant datasets - socio-economic, demographic, infrastructural, etc. - may be included for reference in the future.</p>
<h2>About the Maps</h2>
<p>
The maps were made using <a href="http://www.mapbox.com">Mapbox</a> and <a href="http://www.mapbox.com/tilemill">Tilemill</a> using publicly available data and can be freely incorporated into other projects.
</p>
<h2>Open Source</h2>
<p>
The tools used to build this site are open source and the project is hosted on <a href="http://github.com/ladeleb/platform">github</a>. The data is licensed under CC By S.A 3.0.
</p>
*/});
            content = {};
            content.baseMap = 'kamicut.hd1mnn1i';
            content.textTemplateId = '#wb_text_overlay_template';
            content.textEn = {
                title: "Lebanese Elections Data",
                desc: about
            };
            content.textAr = {
                title: "تحليل بيانات الإنتخابات النيابيّة",
                desc:'<p>أطلق مشروع "تحليل بيانات الإنتخابات النيابيّة" في ربيع 2013 بمبادرة من "الجمعيّة اللبنانيّة من أجل ديمقراطية الانتخابات" وبتمويل من "الديمقراطية الدولية".</p>' +
                '<p>هدف هذا المشروع الى تقديم عرض مقارن لبعض المعلومات الانتخابية الاساسية حول الهيئات الناخبة في لبنان على شكل خرائط وبيانات واضحة القراءة</p>' +
                '<p>فالخرائط تعرض وبالأرقام عدد المسجلين في لوائح الشطب، نتائج تصويتهم، مناطق تواجدهم في الدوائر الإنتخابية، جنسهم وطوائفهم منذ العام2005 حتّى اليوم</p>' +
                '<p>أما القسم الثاني من الموقع فهو يضمّ معلومات وأرقام حول بعض القضايا الانتخابية التي استطلعت الجمعية آراء ومواقف اللبنانيين حولها ، وقد شملت العينة التي خضعت لهذا الاستطلاع على 2500 فردا توزعوا على جميع الطوائف اللبنانية وجميع المحافظات اللبنانيّة بشكل علمي مع الاخذ بعين الاعتبار عمر وجنس المستطلع.</p>' +
                '<p>تبرز هذه الارقام مدى انخراط اللبنانيين في الحياة السياسية، مدى رضى اللبنانيين عن أداء مجالسهم البلدية  وماهية النظام الانتخابي الذي يفضّله اللبنانيون.</p>' +
                '<p> وقد قام بهذا الاستطلاع مؤسسة البحوث والاستشارات بتكليف من الجمعية اللبنانية من أجل ديمقراطية الانتخابات.</p>' +
                '<p> تجدون النتائج الكاملة لهذا الاستطلاع على الرابط التالي : <a href="http://bit.ly/1ROT0ju">http://bit.ly/1ROT0ju</a></p>' +
          "<br><br>" + 
" <a href='http://github.com/ladeleb/platform'>Github </a>يمكن تحميل البيانات على .CC SA 3.0 هذا المشروع يستكشف البيانات المفتوحة. تم ترخيص البيانات تحت"
                
 };
            options = {}; options.control = {};
            content.layers = []
            content.layers[0] = L.mapbox.tileLayer('kamicut.electoral_districts');
            content.el = 'map';
            main = new M.Map(content,options);
            main.init();
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51804739-1', 'lebanonelectiondata.org');
          ga('send', 'pageview');

        </script>
    </body>
    </html>
