<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/white_ballots.css">
    <link rel="stylesheet" href="styles/main.css">
    <style>
        #share-data {
            margin-left: 0px !important;
        }
    </style>
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css' rel='stylesheet' />

</head>
<body>

    <ul id='toolbar'>
        <li class="langbtn" id="home-btn">HOME</li>
        <li class='langbtn' id='share-data' style="margin-left: 60px">SHARE
            <ul id='toolbar-share'>
                <a class='tweet' href="http://ladeleb.github.io/ladeleb/platform" title="Check out #Lebanon election data in the last decade by @ladeleb">
                <li class="share-li"><div class="fa fa-twitter fa-1x"></div></li></a>
                <a class="fb" href="http://ladeleb.github.io/ladeleb/platform">
                <li class="share-li"><div class="fa fa-facebook fa-1x"></div></li></a>
            </ul>
        </li>
        <li id='ar' class='langbtn'>عربي</li>
    </ul>

    <div id='map_container'>
        <div class='text_overlay ar'></div>
        <div class='text_overlay en'></div>
        <div id="map"></div>
    </div>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <script type='text/template' id='wb_text_overlay_template'>
                <h1> <%= title %> </h1>
                <p id='desc'>
                    <%= desc %>
                </p>
                <div class="partners">
                        <a href="http://developmentseed.org"><img src="images/devseed.jpg"></img></a>
                        <a href="http://democracyinternational.com/"><img src="images/DI.jpg"></img></a>
                        <a href="http://lambalabs.org/"><img src="images/lamba.png"></img></a>
                        <a href="http://www.lade.org.lb"><img src="images/lade.png"></img></a>
                </div>
            </script>


        <!--[if lte IE 8]>
        <![endif]-->

        <script src="bower_components/jquery/jquery.js"></script>
        <script src='bower_components/underscore/underscore-min.js'></script>
        <script src="scripts/text_content.js"></script>
        <script src="scripts/map.js"></script>
        <script>
            content = {};
            content.baseMap = 'kamicut.hd1mnn1i';
            content.textTemplateId = '#wb_text_overlay_template';
            content.textEn = {
                title: "Lebanese Electoral Data",
                desc: "Lebanese Elections Data Analysis (LEDA) is a joint effort of Lebanese Association for Democratic Elections (LADE) and Lamba Labs with the support of Democracy Elections (DI) and Development Seed. LEDA visualizes the Lebanese elections' data according to the voters' confessions, gender, votes and districts aiming to narrate by images and stories regarding various variations in the mentioned factors since 2005. <br><br>LEDA is a project exploring open data. The data is licensed under CC By S.A 3.0 and can be downloaded on <a href='http://github.com/ladeleb/platform'>Github</a>, contribute!",
            };
            content.textAr = {
                title: "تحليل بيانات الإنتخابات النيابيّة",
                desc:'هذا المشروع يستكشف البيانات المفتوحة. تم ترخيص البيانات تحت CC SA 3.0 ويمكن تحميلها على جيثب، يمكنك المساهمة! ."يهدف مشروع "تحليل بيانات الإنتخابات النيابيّة" إلى عرض من خلال الخرائط وبالأرقام عدد المسجلين في لوائح الشطب، نتائج تصويتهم، مناطق تواجدهم في الدوائر الإنتخابية، جنسهم وطوائفهم منذ العام 2005. إنّ مشروع "تحليل بيانات الإنتخابات النيابيّة" هو ثمرة عمل مشترك بين الجمعية اللبنانية من أجل ديمقراطيّة الإنتخاباتط وبين "لامبا لابز" بدعم من "الديمقراطيّة الدوليّة" ومعهد "ديفيلوبمينت سيد"' +
          "<br><br>" + 
"هذا المشروع يستكشف البيانات المفتوحة. تم ترخيص البيانات تحت CC SA 3.0 ويمكن تحميلها على <a href='http://github.com/ladeleb/platform'>جيثب</a>." 		  
 };
            options = {}; options.control = {};
            content.layers = []
            content.layers[0] = L.mapbox.tileLayer('kamicut.electoral_districts');
            content.el = 'map';
            main = new M.Map(content,options);
            main.init();
        </script>

    </body>
    </html>
