<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/white_ballots.css">
        <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.js'></script>
        <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css' rel='stylesheet' />
    </head>
    <body>
        <ul id='toolbar'>

            <li class='langbtn' id="home-btn">HOME</li>
            <li class='langbtn' id='download-data'>DOWNLOAD DATA
                <ul id='toolbar-download'>
                    <a href="data/white_ballots/white_ballots_csv.zip" > <li class='download-li'>CSV</li> </a> 
                    <a href="data/white_ballots/white_ballots_geojson.zip" > <li class='download-li'>GEOJSON</li> </a> 
                </ul>
            </li>
            <!-- <li class='langbtn'>ABOUT THIS DATA</li> -->
          
            <li class='langbtn' id='share-data'>SHARE
            <ul id='toolbar-share'>
                <a class='tweet' href="http://github.com/ladeleb/platform" title="Awesome platform by LADE">
                <li class="share-li"><div class="fa fa-twitter fa-1x"></div></li></a>
                <a class="fb" href="http://github.com/ladeleb/platform" title="Awesome Platform by LADE">
                <li class="share-li"><div class="fa fa-facebook fa-1x"></div></li></a>
            </ul>
        </li>
<!--             <li class='langbtn'><div class="fa fa-google-plus fa-1x"></div></li>-->            
            <li id='ar' class='langbtn lang'>عربي</li>
        </ul>

        <div id='map_container'>
            <div class='text_overlay ar'></div>
            <div class='text_overlay en'></div>

            <div id='map'></div>
            <div id='tooltip-overlay'></div>

        </div>

        
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- TEMPLATES -->
        <script type='text/template' id='legend_template'>
                <div id='leg'>
                    <div id='legcol' style='background-color: <%= color %>'></div>
                   <!-- <div id='leglabel'> <%= label %> </div> -->
                </div>
        </script>

        <script type='text/template' id='wb_text_overlay_template'>
                <h1> <%= title %> </h1>
                                <p class='attribution'> <%= attribution %> </p>

                <p id='desc'>
                    <%= desc %>
                </p>
                <p> <%= select %> </p>
                <div style="display:block">
                <div class='time_section clearfix'>
                    <div class="control" id="invalid_2005"><%= content[0].time_desc %></div>
                </div>
                <div class='time_section clearfix'>
                    <div class="control2" id="white_2005" style="cursor:default"><%= content[1].time_desc %></div>
                </div>
                </div>
               
               <div style="margin-top: 20px">
                 <div class='time_section clearfix'>
                    <div class="control" id="invalid_2009"><%= content[2].time_desc %></div>
                </div>
                <div class='time_section clearfix'>
                    <div class="control" id="white_2009"><%= content[3].time_desc %></div>
                </div>
                </div>
        </script>

        <script type='text/template' id='time_section_template'>
            <div id='<%= id %>' class='time_section clearfix'>
                <div id='timepicker'></div>
                <div id='time'> <%= text.ttime %> </div>
                <div id='time_desc'> <%= text.time_desc %> </div> 
            </div>
        </script>


        <script type='text/template' id='base_text_template'>
            <h1>Lebanon Electoral Open Data </h1>
            <h2>Lade</h2>

            <ul id = 'toc'>
                <li id='rv'></li> <!-- registered voters -->
                <li id='wb'></li> <!-- white ballots -->
            </ul>
        </script>

 
        <link rel="stylesheet" href="bower_components/Leaflet.markercluster/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="bower_components/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
        <script src="bower_components/Leaflet.markercluster/dist/leaflet.markercluster.js"></script>
        <script src="bower_components/jquery/jquery.js"></script>
        <script src='bower_components/underscore/underscore-min.js'></script> 
        <script src="scripts/text_content.js"></script>
        <script src="scripts/map.js"></script>
        <script src="scripts/white_ballots.js"></script>
</body>
</html>
