@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\000036}}
path {
  fill: #000;
  fill-opacity: .3;
  stroke: #000;
  stroke-width: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000313}}
h1 {
  margin: 0 0 0px 0;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000317}}
#tloc {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #646464;
  padding-bottom: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000325}}
#tnum {
  font-family: Helvetica, sans-serif;
  font-color: #28283c;
  font-size: 4em;
  font-weight: 800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000334}}
.text_overlay {
  overflow: scroll;
  margin: 75px 0 50px 50px;
  padding: 20px;
  color: #282828;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 90%;
  width: 90%;
  height: 80%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  font-size: 1.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000350}}
.text_overlay p {
  line-height: 1.4em;
  font-weight: 100;
  font-size: 0.8em;
  margin: 10px 0 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000356}}
.text_overlay ul {
  line-height: 1.4em;
  font-weight: 100;
  font-size: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000361}}
.text_overlay li {
  list-style-type: square;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000365}}
.text_overlay #desc {
  font-weight: 300;
  font-size: 1em;
  font-family: "Lato", Helvetica Neue, serif;
  color: #787878;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000373}}
.text_overlay.en {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000377}}
.text_overlay.en .time_section #time, .text_overlay.en .time_section #time_desc {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000384}}
#tooltip-overlay {
  padding: 10px;
  z-index: 9999;
  position: absolute;
  bottom: 30px;
  right: 100px;
  background: white;
  color: black;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\0000396}}
.control, .control2 {
  width: 100px;
  padding: 5px;
  text-align: center;
  font: 15px Helvetica Neue;
  font-weight: 700;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\00003105}}
.control:hover, .control2:hover {
  color: #e3afaf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\00003110}}
.control2 {
  width: 100px;
  padding: 5px;
  text-align: center;
  font: 15px Helvetica Neue;
  font-weight: 700;
  background-color: white;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\00003118}}
.control2:hover {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\00003123}}
.selected {
  color: white;
  background-color: #c86464;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\00003128}}
.time_section {
  display: inline-block;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\00003132}}
#time, #time_desc {
  display: inline-block;
  padding: 10px 0 10px 0;
  font-family: "Lato", serif;
  font-weight: 800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\00003143}}
#timepicker {
  display: inline-block;
  margin-top: 15px;
  width: 15px;
  height: 15px;
  background-color: #c8c8be;
  background-color: #c86464;
  background-color: black;
  border-radius: 50%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/about\.scss}line{font-family:\00003154}}
#time {
  font-size: 2em;
  margin: 0 20px 0 35px;
  font-weight: 700;
}
