/* line 6, about.scss */
path {
  fill: #000;
  fill-opacity: .3;
  stroke: #000;
  stroke-width: 3px;
}

/* line 13, about.scss */
h1 {
  margin: 0 0 0px 0;
  font-weight: 700;
}

/* line 17, about.scss */
#tloc {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #646464;
  padding-bottom: 0.8em;
}

/* line 25, about.scss */
#tnum {
  font-family: Helvetica, sans-serif;
  font-color: #28283c;
  font-size: 4em;
  font-weight: 800;
}

/* line 34, about.scss */
.text_overlay {
  overflow: scroll;
  margin: 75px 0 50px 50px;
  padding: 20px;
  color: #282828;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 90%;
  width: 90%;
  height: 80%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  font-size: 1.3em;
}
/* line 50, about.scss */
.text_overlay p {
  line-height: 1.4em;
  font-weight: 100;
  font-size: 0.8em;
  margin: 10px 0 20px 0;
}
/* line 56, about.scss */
.text_overlay ul {
  line-height: 1.4em;
  font-weight: 100;
  font-size: 0.8em;
}
/* line 61, about.scss */
.text_overlay li {
  list-style-type: square;
}
/* line 65, about.scss */
.text_overlay #desc {
  font-weight: 300;
  font-size: 1em;
  font-family: "Lato", Helvetica Neue, serif;
  color: #787878;
}

/* line 73, about.scss */
.text_overlay.en {
  text-align: left;
}
/* line 77, about.scss */
.text_overlay.en .time_section #time, .text_overlay.en .time_section #time_desc {
  float: left;
}

/* line 84, about.scss */
#tooltip-overlay {
  padding: 10px;
  z-index: 9999;
  position: absolute;
  bottom: 30px;
  right: 100px;
  background: white;
  color: black;
  text-align: center;
}

/* line 96, about.scss */
.control, .control2 {
  width: 100px;
  padding: 5px;
  text-align: center;
  font: 15px Helvetica Neue;
  font-weight: 700;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}
/* line 105, about.scss */
.control:hover, .control2:hover {
  color: #e3afaf;
}

/* line 110, about.scss */
.control2 {
  width: 100px;
  padding: 5px;
  text-align: center;
  font: 15px Helvetica Neue;
  font-weight: 700;
  background-color: white;
  display: inline-block;
}
/* line 118, about.scss */
.control2:hover {
  color: black;
}

/* line 123, about.scss */
.selected {
  color: white;
  background-color: #c86464;
}

/* line 128, about.scss */
.time_section {
  display: inline-block;
  position: relative;
}

/* line 132, about.scss */
#time, #time_desc {
  display: inline-block;
  padding: 10px 0 10px 0;
  font-family: "Lato", serif;
  font-weight: 800;
}

/* line 143, about.scss */
#timepicker {
  display: inline-block;
  margin-top: 15px;
  width: 15px;
  height: 15px;
  background-color: #c8c8be;
  background-color: #c86464;
  background-color: black;
  border-radius: 50%;
  float: left;
}

/* line 154, about.scss */
#time {
  font-size: 2em;
  margin: 0 20px 0 35px;
  font-weight: 700;
}
