@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\000032}}
h1 {
  margin: 0 0 0px 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\000038}}
h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 100;
  color: #64646e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000316}}
#tooltip-content {
  min-width: 300px;
  padding: 10px;
  z-index: 9999;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: white;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000328}}
#tooltip-content .perce {
  padding: 2px;
  font-size: 20px;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000335}}
#select-container {
  position: relative;
  font-weight: 300;
  font-size: .9em;
  font-family: "Lato", Helvetica Neue, serif;
  color: #787878;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000341}}
#select-container li {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000345}}
.selected {
  color: #b2182b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000362}}
#voters, #seats {
  display: inline-block;
  margin: 20px 15px 10px 15px;
  min-width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000368}}
.perc {
  font-size: 40px;
  margin: 7px 0 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000372}}
.total {
  font-size: 18px;
  font-weight: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000376}}
.llabel {
  font-weight: 100;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000383}}
#tloc {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #646464;
  padding-bottom: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\0000391}}
#tnum {
  font-family: Helvetica, sans-serif;
  font-color: #28283c;
  font-size: 4em;
  font-weight: 800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\00003100}}
.text_overlay {
  margin: 75px 0 50px 50px;
  margin-bottom: 0px;
  padding: 20px;
  color: #282828;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  max-width: 450px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  font-size: 1.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\00003116}}
.text_overlay p {
  max-width: 550px;
  text-align: justify;
  line-height: 1.4em;
  margin: 30px 0 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\00003123}}
.text_overlay #desc {
  font-weight: 300;
  font-size: 0.9em;
  font-family: "Lato", Helvetica Neue, serif;
  color: #787878;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\00003131}}
.text_overlay.en {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\00003135}}
.text_overlay.en .time_section #time, .text_overlay.en .time_section #time_desc {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcfarra\/Code\/ladeleb\/platform\/app\/styles\/gender\.scss}line{font-family:\00003142}}
#map_container {
  height: 0px;
}
